[access]
	inheritFrom = All-Projects
[submit]
	action = fast forward only
[project]
	description = framework for emulating devices in userspace
[access "refs/*"]
	owner = group user/Felipe Franciosi (franciozzy)
	owner = group user/John Levon (jlevon)
	owner = group user/Thanos (tmakatos)
	owner = group user/swapnili
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Thanos (tmakatos)
	label-Verified = -1..+1 group user/Thanos (tmakatos)
	push = group user/Thanos (tmakatos)
	read = group user/Thanos (tmakatos)
	rebase = group user/Thanos (tmakatos)
	removeReviewer = group user/Thanos (tmakatos)
	submit = group user/Thanos (tmakatos)
[access "refs/heads/*"]
	create = group user/John Levon (jlevon)
	create = group user/Thanos (tmakatos)
	push = +force group user/Thanos (tmakatos)
	pushMerge = group user/Thanos (tmakatos)
	read = group user/Thanos (tmakatos)
[access "refs/tags/*"]
	push = group user/Thanos (tmakatos)
	push = +force group user/Thanos (tmakatos)
[receive]
	requireSignedOffBy = true
	requireChangeId = true
[change]
	workInProgressByDefault = true
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
