name: pull_request
on: pull_request
jobs:
  ubuntu-20:
    timeout-minutes: 10
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: pre-push
        run: |
          sudo apt-get update
          sudo apt-get -y install libjson-c-dev libcmocka-dev clang valgrind \
                                  python3-pytest debianutils flake8
          make pre-push VERBOSE=1
  centos-7:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    container: centos:7
    steps:
      - uses: actions/checkout@v2
      - name: pre-push
        run: |
          # NB: no working flake8
          yum -y install make gcc-4.8.5 epel-release pciutils
          yum -y install clang cmake json-c-devel libcmocka-devel \
              valgrind python36-pytest which
          make pre-push VERBOSE=1
  fedora-35:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    container: fedora
    steps:
      - uses: actions/checkout@v2
      - name: pre-push
        run: |
          dnf -y install --releasever=35 \
              gcc make clang cmake json-c-devel libcmocka-devel pciutils \
              diffutils valgrind python3-pytest python3-flake8 which
          make pre-push VERBOSE=1
