name: pull_request
on: pull_request
jobs:
  ubuntu-20:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: pre-push
        run: |
          sudo apt-get -y install libjson-c-dev libcmocka-dev
          make pre-push VERBOSE=1
  ubuntu-18:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: pre-push
        run: |
          sudo apt-get -y install libjson-c-dev libcmocka-dev
          make pre-push VERBOSE=1
  centos-7:
    runs-on: ubuntu-latest
    container: centos:7
    steps:
      - uses: actions/checkout@v2
      - name: pre-push
        run: |
          #yum list
          yum -y install make gcc-4.8.5 epel-release
          yum repolist
          yum -y install cmake json-c-devel libcmocka-devel
          make pre-push VERBOSE=1
